body{
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.frombutton{
	margin:10px 30px
}
#fromcontent{
	height:530px;
	border: 1px solid black;
}
.layertext{
	background-color: transparent;
	display:none;
	padding:15px 10px 0 0
}
.tableheader{
	height: 300px;
	border: 1px solid black;
	background-color: transparent
}
.layui-table, .layui-table-view{
	margin: 0
}
.right-menu{
	background-color:White;
	border:1px solid #cccccc; 
	box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
	padding:10px;
	position: absolute;
	display:none;
	cursor: default
}

 /*.ui-resizable-se {
    bottom: 17px;
  }*/