*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: #f0f0f0;*/
}
.borrow-bg{
    width:100%;
    height: 1080px;
    background-color: #f0f0f0;
}
.CountTime{
    width: 99%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    border:1px solid #e6e6e6;
    background-color: white;
    border-radius:6px;
    position: relative;
    box-sizing: border-box;
}
.CountTime .CountText{
    position: absolute;
    font-size: 16px;
    top: -1em;
    left: 0.5%;
    line-height: 2em;
    padding: 0 0.5em;
    background-color: #fff;
}
.layui-inline{
    line-height: 60px;
}
.layui-form-label{
    line-height: 40px;
    font-size: 16px;
    padding-right: 0px;
}
.layui-input-inline{
    margin-left: 6px;
}

.layui-input{
    width: 120px;
    height: 30px;
}
.layui-form-label1{
    font-size: 16px;
    margin-left: 10px;
}
.dataType{
    display: inline-block;
    line-height: 60px;
}
.dataType-text{
    font-size: 16px;
    margin-left: 10px;
    line-height: 40px;
}
.selectDate{
    font-size: 14px;
    width: 100px;
    height: 30px;
    border:1px solid #e3e9ef;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 6px;
}
.count-btn{
    width: 80px;
    height: 40px;
    border-style: none;
    border-radius: 3px;
    background-color: #009688;
    margin-left: 15px;
    font-size: 17px;
    color: white;
    letter-spacing: 3px;
}
.count-btn:hover {background-color: #01c1af}
.count-btn:active {
    background-color: #01c1af;
    transform: translateY(2px);
}
.export-btn{
    width: 85px;
    margin-left: 15px;
    font-size: 16px;
    color: white;
    text-align: center;
    height: 39px;
    line-height: 39px;
    background: #009688;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}
.export-btn:hover {
    background-color: #01c1af;
    color: white;
}
.export-btn:active {
    background-color: #01c1af;
    transform: translateY(2px);
    color: white;
}
.exportExcel{
    margin-top: 10px;
}
.max-frame{
    height: 740px;
    margin-top: 1px;
    font-size: 20px;
}

/*查看详情的页面*/
#select-detail{
    display: none;
}
/*详情页面的查询*/
.layui-btn{
    margin-left: 30px;
    width: 70px;
    height: 35px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 3px;
    vertical-align:middle;
}
