 #action button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        color: white;
        background-color: #009789;
        border: 1px solid #009789;
    }

    #action select {
        width: 115px;
        height: 30px;
    }

    #searchDiv {
        display: none;
        line-height: 25px;
        margin-left: 15px;
        margin-top: 10px;
    }

    #searchDiv select {
        font-size: 14px;
        margin-left: 20px;
        width: 115px;
        height: 30px;
    }

    #searchDiv input {
        box-sizing: content-box;
        font-size: 14px;
        width: 270px;
        height: 30px;
        margin-left: 20px;
    }
    /*修改弹出层上按钮的样式*/
    .my-skin .layui-layer-btn a{
        background-color: #009789;
        border: 1px solid #009789;
        margin-left: 20px;
        color: white;
    }