/**
*
* author: ys
* time: 2018/8/13
*
**/

.layui-body{
    background-color: white;
}

.layui-btn-group {
    margin-top: 10px;
}

.layui-btn-group > i {
    font-size: 10px;
}

.btn-group {
    position: relative;
    display: inline-block;
    /*vertical-align: middle;*/
    margin-left: 8px;
    height: 38px;
}


.station-box {
    height: 460px;
    width: 600px;
    float: left;
}
.station-side{
    width: 200px;
    height:100%;
    float: left;
    overflow-y: auto
}
.station-main{
    float: left;
    width:380px;
    height:100%;
    margin-left: 10px;
    border: #4E5465 1px solid;
    overflow-y: auto
}
.station {
    font-size: 16px;
}

.station p {
    margin-top: 5px;
    cursor: pointer;
}

.station p:hover {
    background-color: #D0D0D0;
}

.search-box {
    width: 365px;
    height: 200px;
    display: none;
}

.search-box select, .search-box input {
    width: 160px;
    height: 30px;
    border-radius: 4px;
}

.search-box select {
    margin: 20px 10px 5px;
}

.btn-box {
    margin-left: 40px;
    /*width: 70px;*/
    display: inline-block;
}

.search-box input {
    border: solid #9F9F9F 1px;
    margin: 10px 8px;
}

#file-box {
    display: none;
}

#file-box > .layui-btn {
    margin-top: 5px;
    margin-left: 10px;
}

.file-import {
    display: none;
}

.upload {
    width: 300px;
    min-height: 200px;
    border-radius: 6px;
    display: none;
}
.img-box{
    position: absolute;
    width: 430px;
    height: 140px;
    z-index: -1;
}
.img-box > img{
    height: 100%;
    width: 100%;
}

.content-table{
    width: 900px;
    margin: 0 auto
}

.border{
    border:solid 1px #9F9F9F;
}